#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure -- --buildtype=release -Dunit_tests=false -Dintegration_tests=false

# clang emits .debug_addr; dwz on Ubuntu 24.04 / Debian bookworm-era does not understand it.
override_dh_dwz:
